<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Kaede Chat" Manufacturer="Kaede Chat contributors"
           Version="$(var.ProductVersion)" UpgradeCode="B95E2DCB-AED1-4A52-BF13-661510F5B64A"
           Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer Kaede Chat version is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Kaede Chat">
        <Component Id="Application" Guid="7C4E9EA5-C89A-497D-B88A-99F0A0C19B0F">
          <File Id="KaedeDesktop" Source="$(var.BinaryPath)" KeyPath="yes" />
          <RegistryKey Root="HKCU" Key="Software\Classes\kaede">
            <RegistryValue Type="string" Value="URL:Kaede Chat" />
            <RegistryValue Name="URL Protocol" Type="string" Value="" />
            <RegistryKey Key="DefaultIcon">
              <RegistryValue Type="string" Value="[INSTALLFOLDER]kaede-desktop.exe,0" />
            </RegistryKey>
            <RegistryKey Key="shell\open\command">
              <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]kaede-desktop.exe&quot; &quot;%1&quot;" />
            </RegistryKey>
          </RegistryKey>
        </Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="Main"><ComponentRef Id="Application" /></Feature>
  </Package>
</Wix>
